################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ETradeApiV1/v15/Server/sqlite3
/ETradeApiV1.Client/obj
/ETradeApiV1.Sample/bin/Debug/netcoreapp2.2
/ETradeApiV1.Sample/obj
/.vs
/ETradeApiV1.Client/bin/Debug/netstandard2.0
/ETradeApiV1.Client/appsettings.json
/ETradeApiV1.Sample/appsettings.json
/ETradeApiV1.Console/bin/Debug
/ETradeApiV1.Console/obj
/ETradeApiV1/bin/Debug
/ETradeApiV1/obj
/packages
/README.zip
ETradeApiV1.Console/App - Copy.config
/ConsoleApp1/obj
/ETradeApiV1.Client/bin/Release
/ETradeApiV1.Client/bin/Debug
/ETradeApiV1.Console/bin/Release
