<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="https://apisb.etrade.com" />
    <add key="AuthorizeUrl" value="https://us.etrade.com/e/t/etws/" />
    <add key="ConsumerKey" value="Consumer_Key" />
    <add key="ConsumerSecret" value="Consumer_Secret" />
  </appSettings>
</configuration>