<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="https://apisb.etrade.com/v1/" />
    <add key="TokenUrl" value="https://api.etrade.com/" />
    <add key="AuthorizeUrl" value="https://us.etrade.com/e/t/etws/" />
    <add key="ConsumerKey" value="c9c23e8383b8e1ed78d570b0e152bfdb" />
    <add key="ConsumerSecret" value="9c3d9420641d6897c3a5b0e51d6430f1" />
    <add key="AccessSecret" value="CEx0qjQoQBpjOTLC1IXwyHcRs+24jdTbS98XtQ6bW04=" />
    <add key="AccessToken" value="TAOc/ZEXJykIok2kohK21Qzw9r5g1Dg7Zm61YEffxwQ=" />
    
  </appSettings>
</configuration>