<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="https://apisb.etrade.com/" />
    <add key="AuthorizeUrl" value="https://us.etrade.com/e/t/etws/" />
    <add key="ConsumerKey" value="c9c23e8383b8e1ed78d570b0e152bfdb" />
    <add key="ConsumerSecret" value="9c3d9420641d6897c3a5b0e51d6430f1" />
  </appSettings>
</configuration>